@import '../vars';

#tweets {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	padding: .5em;

	.tweet {
		cursor: pointer;
		border-bottom: 1px solid #eee;
		display: flex;
		flex-direction: row;
		align-items: stretch;
		opacity: 0;
		word-wrap: break-word;
		padding: .5em 0 .5em .25em;

		.created {
			position: relative;
			flex: 0 1 auto;
			padding-left: 1rem;
			padding-right: 1rem;
			margin-right: .5rem;
			font-size: .8rem;
			background: #ccc;
			color: #fff;
			display: flex;
			align-items: center;
			word-wrap: break-word;

			.inner {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 6rem;
				text-align: center;
				transform: translate(-6px, 3rem) rotate(270deg);
				transform-origin: left top;
			}
		}

		.status {
			flex: 1 1 auto;

			.text {
				line-height: 1.5rem;
				word-wrap: break-word;
				word-break: break-all;

				a {
					text-decoration: none;
					color: $color0;
					border-bottom: 2px dashed $color0;
				}
			}

			img.profile {
				border-radius: 4em;
				vertical-align:middle;
				border: 1px solid #ddd;
			}

			.user {
				font-family: 'Lucida Grande';
				margin-top: 1rem;
				margin-bottom: .5rem;
				font-size: .7rem;
				font-style: italic;
				color: #999;

				.reply {
					float: right;
					border: 2px dashed $color0;
					border-radius: .5rem;
					height: 2.5rem;
				}
			}		
		}

		.media {
			flex: 0 1 auto;
			margin-left: 1rem;
			margin-right: .25rem;
			display: flex;
			align-items: center;

			img {
				width: 6rem;
				height: 6rem;
				display: block;	
				border-radius: .5rem;
				opacity: 0;
				padding: .1rem;
			}
		}

		.media img.loaded {
			opacity: 1;
			transition: opacity 0.5s;
		}

		&:last-child {
			border: 0;
		}
	}
}

#tweets.loaded  {
	.tweet {
		animation: fadein .5s forwards;
	}

	@for $i from 1 through 15 {
		.tweet:nth-child(#{$i}) { 
			animation-delay: $i * .1 + s;
		}
	}	
}

// animations

@keyframes fadein {
    from { opacity: 0; transform: scale(.9) }
    to   { opacity: 1; transform: scale(1) }
}

// media queries

@media screen and (orientation:landscape) {
	#tweets {
		padding-top: 0;
	}
}



