
<div id="index-page">
	<div id="map"></div>
	<ul>
		<li style="background-image:url(/img/location.png);">Have a look to see what people are talking about around you.</li>
		<li style="background-image:url(/img/allow.png);">Allow the app to see where you are in the world. <small>(this is all your location is used for)</small></li>
		<li style="background-image:url(/img/tweets.png);">See whats going on...</li>
		<li><button onclick="document.location.href='/map'">Take a gander &raquo;</button></li>
	</ul>
</div>


<script type="text/javascript">

function mapsReady(){
	var interestingLocations = [{lat: 51.5007384, lng: -0.1262547}, {lat: 27.1750199, lng: 78.0399665}, {lat: 33.987009, lng: -118.475955}, {lat: 48.8583736, lng: 2.2922873}, {lat: 55.7601365, lng: 37.6164599}],
	rand = Math.floor(Math.random() * interestingLocations.length);
	var map = new Site.Map({ container: $('#map'), location: interestingLocations[rand], zoom: 16 });

	// handle resize
	var res;
	$(window).on('resize', function(){
		if (res){clearTimeout(res)};
		res = setTimeout(function(){
			map.resize();
		},250);
	});	
}

/*	$.get('/requestToken', function(data){
		localStorage.setItem('token', data.requestToken);
		localStorage.setItem('token_secret', data.requestTokenSecret);

			$('#authorize').attr('href', `https://twitter.com/oauth/authenticate?oauth_token=${localStorage.getItem("token")}&oauth_callback=${encodeURIComponent(document.location.origin + '/test')}`);
	});
*/

</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBti1MfyPvObCsftJFKQNz8rH7s-x7ZIf0&callback=mapsReady"></script>