

<div id="map-page">
	<div id="overlays">
		<div id="tweets-loader" class="overlay"></div>
	</div>
	<div id="tweets"></div>
	<div id="map"></div>
	<button id="reload">...update</button>
</div>

<script type="text/javascript">

// static overlay container member	
Site.Overlay.container = $('#overlays');

function mapsReady(){
	navigator.geolocation.getCurrentPosition((position)=>{
		//console.log(position.coords.accuracy);
		initMap({ lat: position.coords.latitude, lng: position.coords.longitude, radius: 0.25 });
		// initMap({ lat: 51.513024, lng: -0.128807, radius: 0.25 });
		//initMap({ lat: 52.9216528, lng: -1.4796194, radius: 1 });	// radius in km
	}, (error)=>{
		new Site.Overlay($(`<div class="error"><div class="inner">${error}</div></div>`)).show();
		console.warn('Safari and FF require wifi connection to web to determine location');
	},{
		enableHighAccuracy: true
	});
}

function initMap(loc) {

	$('#reload').on('click', function(){
		document.location.reload();
	});

	Site.LoaderOverlay = new Site.Overlay($('#tweets-loader'));

	var MapPage = {

		tweets: [],

		map: new Site.Map({ container: $('#map'), location: loc }),

		search: function(opts){
			// show loader
			Site.LoaderOverlay.show();

			$('#tweets').html('');
			MapPage.lastSearchOpts = opts;

			$.post('/api/search/tweets', {
				q: '',
				geocode: `${loc.lat},${loc.lng},${loc.radius}km`,
				lang: 'en',
				count: 50
			}, function(json){
				if(json.statuses.length > 0){
					json.statuses.forEach(function(status){
						var tweet = new Site.Tweet(status);
						tweet.appendTo('#tweets');

						if(tweet.marker){
							tweet.marker.setMap(MapPage.map);
						}

						tweet.on('click', MapPage.onTweetClick)
						tweet.on('close-overlay', MapPage.onTweetCloseOverlay)

						MapPage.tweets.push(tweet);
					});

					$('#tweets').addClass('loaded');
					Site.LoaderOverlay.hide();
					MapPage.setCenterBounds();
				} else {
					Site.LoaderOverlay.hide();
					$('#tweets').html(`
						<div id="aint-nuffin">
							<div class="inner">Ain\'t nuffin going on around ya<br />
								<button>Have another butchers...</button>
							</div>
						</div>
					`);
					$('button', '#tweets').on('click', MapPage.refreshSearch);

					MapPage.aintNuffinHeightFix();
				}
			});
		},

		aintNuffinHeightFix: function(){
			if($('#aint-nuffin').height() > $('#tweets').height()){
				$('#aint-nuffin').height($('#tweets').height());
			}
		},

		refreshSearch: function(){
			// $('.ad iframe')[0].contentWindow.location.reload();
			// MapPage.search(MapPage.lastSearchOpts);
			document.location.reload();
		},

		checkTweetCreatedInterval: function(){
			MapPage.tweets.forEach(function(tweet){
				tweet.updateCreatedAt();
			});

			setTimeout(MapPage.checkTweetCreatedInterval, 10 * 1000);
		},

		setCenterBounds: function(){
			var latlngBounds = new google.maps.LatLngBounds(), distance = loc.radius * 1000;

			latlngBounds.extend(google.maps.geometry.spherical.computeOffset(
				MapPage.map.userMarker.getPosition(), distance, 0
			));
			latlngBounds.extend(google.maps.geometry.spherical.computeOffset(
				MapPage.map.userMarker.getPosition(), distance, 90
			));
			latlngBounds.extend(google.maps.geometry.spherical.computeOffset(
				MapPage.map.userMarker.getPosition(), distance, 180
			));
			latlngBounds.extend(google.maps.geometry.spherical.computeOffset(
				MapPage.map.userMarker.getPosition(), distance, 270
			));			

			MapPage.map.fitBounds(latlngBounds);
		},

		onTweetClick: function(tweet){
			MapPage.hideMarkers();
			tweet.marker.setOpacity(1);

			var markerPos = tweet.marker.getPosition(), userMarkerPos = MapPage.map.userMarker.getPosition();
			var latlngBounds = new google.maps.LatLngBounds();
			latlngBounds.extend(markerPos);
			latlngBounds.extend(userMarkerPos);

			MapPage.map.fitBounds(latlngBounds);
		},

		onTweetCloseOverlay: function(){
			// ensure all tweet overlays are off
			$('#overlays .tweet.overlay').removeClass('show').css('z-index', -1);

			MapPage.setCenterBounds();	
			MapPage.showMarkers();		
		},

		showMarkers: function(){
			MapPage.tweets.forEach(function(tweet){
				tweet.marker.setOpacity(1);
			});
		},

		hideMarkers: function(){
			MapPage.tweets.forEach(function(tweet){
				tweet.marker.setOpacity(0.1);
			});
		}
	};

	// run initial search
	MapPage.search({
	});

	// start the timer that updates tweet created times
	MapPage.checkTweetCreatedInterval();

	// handle resize
	var res;
	$(window).on('resize', function(){
		if (res){clearTimeout(res)};
		res = setTimeout(function(){
			MapPage.map.resize();
			MapPage.aintNuffinHeightFix();
		},250);
	});
}
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBti1MfyPvObCsftJFKQNz8rH7s-x7ZIf0&callback=mapsReady"></script>
