
#index-page {
	position: relative;
	flex: 1 1 auto;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	#map {
		flex: 1 1 auto;
		width: 100%;
		height: 32%;
	}

	ul {
		flex: 1 1 auto;
		display: flex;
		max-width: 1300px;
		height: 67%;
		margin: 0 auto;
		justify-content: stretch;
		align-items: stretch;

		li {
			flex: 1 1 auto;
			margin: 2%;
			margin-right: 0;
			padding: 2%;
			width: 32%;
			color: #777;
			background: #eee;
			border: 1px solid #ddd;
			line-height: 2rem;
			font-size: 1.5rem;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center bottom;

			button {
				display:block;
				padding: 1rem;
				color: #fff;
				border: 0;
				background: #2180CC;
				border-radius: 1rem;
				font-family: inherit;
				font-size: 2rem;
				margin: 0 auto;
			}

			small {
				font-size: 1rem;
			}

			&:last-child {
				margin-right: 2%;
			}
		}
	}
}

// Media queries
@media screen and (orientation:portrait) {
	#index-page {
		ul {
			flex-direction: column;

			li {
				height: 25%;
				width: auto;
				margin-right: 2%;
				margin-bottom: 0;
				background-position: right center;
				padding-right: 10rem;
				box-sizing: border-box;

				&:last-child {
					padding-right: inherit;
				}
			}

			&:last-child {
				margin-bottom: 2%;
			}			
		}
	
	}	
}

// media queries
@media screen and (orientation:landscape)  and (max-height:750px) {
	#index-page {
		ul {
			li {
				background-image: none !important;
			}
		}
	}
}

@media screen and (orientation:portrait) {
	html.is-mobile {
		#index-page {
			ul {
				li {
					height:10%;
				}
			}
		}
	}
}

// Mobile only
html.is-mobile {
	#index-page {
		ul {
			li {
				font-size: 1rem;
				line-height: 1.5rem;

				button {
					font-size: 1.5rem;
					padding: .75rem;	
				}
			}
		}
	}
}