
#map-page {
	position: relative;
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;

	button#reload {
		position: absolute;
		top: 1%;
		right: 1%;
		font-size: 1rem;
		padding: .75rem; 
	}

	#map, #tweets {
		flex: 1 1 auto;
		position: relative;
	}

	#tweets {
		width: 67%;

		#aint-nuffin {
			height:100%;
			display: flex;
			justify-content: center;
			align-items: center;

			.inner {
				flex: 1 1 auto;
				font-size: 2rem;
				color: #aaa;
				text-align: center;

				button {
					margin: 10px auto;
				}
			}
		}
	}

	#map {
		width: 33%;
		border-left: 1px solid #eee;
	}

	#overlays {
		position: static;
		top: 0;
		left: 0;
		width: 0;
		height: 0;

		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 67%;
			height: 100%;
			background-color: rgba(255, 255, 255, .75);
			opacity: 0;
			transition: opacity .15s;
			animation-fill-mode: forwards;
			overflow: hidden;

			.inner {
				position: absolute;
				top: 2%;
				bottom: 2%;
				left: 2%;
				right: 2%;
				box-sizing: border-box;
				transform: scale(.95);
				transition: transform .15s;

				img {
					width: 100%;
				}

				.close {
					position: absolute;
					right: 1rem;
					top: 1rem;
					width: 2rem;
					height: 2rem;
					opacity: 0.9;
				}
				.close:hover {
					opacity: 1;
				}
				.close:before, .close:after {
					box-shadow: 0px 1px 2px 1px rgba(255,255,255,0.25);
					position: absolute;
					left: 15px;
					content: ' ';
					height: 3rem;
					width: 3px;
					background-color: #555;
				}
				.close:before {
					transform: rotate(45deg);
				}
				.close:after {
					top: -1px;
					transform: rotate(-45deg);
				}				
			}

			&.show {
				opacity: 1;

				.inner {
					transform: scale(1);
				}
			}

			&.tweet {
				.inner {
					background: #fff;
					border: 1px solid #eee;
					opacity: 1;

					.full-image {
						width: 100%;
						height: 100%;
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center center;
					}
				}
			}
		}

		#tweets-loader {
			background-image: url(/img/loader.svg);
			background-position: center center;
			background-repeat: no-repeat;
		}		
	}
}

// Media queries
@media screen and (orientation:portrait) {
	#map-page {
		flex-direction: column-reverse;

		#tweets, #map {
			width: auto;
		}

		#tweets {
			height: 67%;
		}
		
		#map {
			height: 33%;
			border-left: 0;
			border-bottom: 1px solid #eee;
		}

		#overlays {
			.overlay {
				top: 33%;
				width: 100%;
				height: 67%;
			}
		}
	}	
}

// Mobile only
html.is-mobile {
	#map-page {
		button {
			font-size: 1.1rem;
		}

		#overlays {
			.overlay {
				.inner {
					.close:before, .close:after {
						height: 3rem;
					}
				}
			}
		}
	}
}


