@import 'reset';
@import 'vars';

html {
	overflow: hidden;
}

body {
	position: absolute;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Fjalla One', sans-serif;
	font-size: 16px;
}

header, footer {
	text-align: center;
	padding: .25em;
}

header {
	font-size: 1.5rem;
	letter-spacing: .25rem;
	border-bottom: 1px solid #eee;
}

footer {
	border-top: 1px solid #eee;
	overflow: hidden;

	.ad {
		position: relative;
		width: 400px;
		height: 72px;
		margin: 0 auto;
		z-index: 100;
	}

	#me {
		position: absolute;
		bottom: .5rem;
		left: .5rem;
		font-style: italic;
		font-size: .5rem;
		color: #ddd;
		text-decoration: none;
	}
}

#tank {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
}

button {
	display:block;
	padding: 1rem;
	color: #fff;
	border: 0;
	background: $color0;
	border-radius: .5rem;
	font-family: inherit;
	font-size: 2rem;
	border: 2px solid #ddd;
}

@import 'index-page';
@import 'map-page';
@import 'twitter/tweet';
