<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<title>~ TWEEDAR ~</title>
	<meta name="description" content="Find out what people are talking about around you">
	<meta name="keywords" content="Twitter,tweet,tweets,radar,location,talking,conversation">

	<meta property="og:title" content="TWEEDAR">
	<meta property="og:description" content="Find out what people are talking about around you">
	<meta property="og:image" content="https://tweedar.org/img/sitecard.png">
	<meta property="og:url" content="https://tweedar.org">
	<meta name="twitter:card" content="Find out what people are talking about around you">

	<meta property="og:site_name" content="Tweedar">
	<meta name="twitter:image:alt" content="Find out what people are talking about around you">

	<!-- meta property="fb:app_id" content="your_app_id" /-->
	<meta name="twitter:site" content="@fonio">

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
	<script type="text/javascript" src="/dist/js/main.js"></script>

	<script type="text/javascript">
		try{ document.createEvent("TouchEvent"); document.getElementsByTagName('html')[0].className = 'is-mobile' }
		catch(e){}
	</script>

	<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">	
	<link rel="stylesheet" type="text/css" href="/dist/css/styles.css" />
</head>
<body>
	<div id="tank">
		<header>TWEEDAR</header>
		{{{body}}}
		<footer>
			<div class="ad">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Tweedar banner -->
				<ins class="adsbygoogle"
				     style="display:block; min-width:401px; max-width:100%; height:60px;"
				     data-ad-client="ca-pub-5355362161081315"
				     data-ad-slot="1778856946"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
			<a id="me"href="https://twitter.com/fonio" target="_blank">@fonio</a>
		</footer>
	</div>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-91391402-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>